/* ### */

/* custom main BG  */
.custom-hp-bg-main {
	background-image: url(/img/main-bg/group-1900-2.webp);
	background-attachment: fixed; /* doesn't work on phones */
}

@media (max-width: 1499px) {
	@media (max-height: 749px){
		.custom-hp-bg-main {
			@apply pt-8 pb-10;
		}
	}
	@media (min-height: 750px){
		.custom-hp-bg-main {
			@apply pt-10 pb-12;
		}
	}
	@media (min-height: 950px){
		.custom-hp-bg-main {
			@apply pt-20 pb-14;
		}
	}
}

@media (min-width: 1500px) {
	@media (max-height: 749px){
		.custom-hp-bg-main {
			@apply py-10;
		}
	}
	@media (min-height: 750px){
		.custom-hp-bg-main {
			@apply py-12;
		}
	}
	@media (min-height: 950px){
		.custom-hp-bg-main {
			@apply py-36;
		}
	}
}


@media (min-width: 768px) {
	@media (max-height: 749px){
		.custom-bottom-alignment {
			@apply bottom-8;
		}
	}
	@media (min-height: 750px){
		.custom-bottom-alignment {
			@apply bottom-12;
		}
	}
}

@media (max-width: 768px) {
	.custom-bottom-alignment {
		@apply bottom-2;
	}
}



@media (max-height: 799px){
	.custom-max-heights {
		@apply max-h-[540px];
	}

	.custom-max-margin-welcome-box {
		margin-top: 3.5rem;
	}
	.custom-max-margin-projects {
		@apply mt-10;
	}
}
@media (min-height: 800px){
	.custom-max-heights {
		@apply max-h-[564px];
	}
	.custom-max-margin-projects{
		margin-top: 3.8rem;
	}
	.custom-max-margin-welcome-box {
		@apply mt-20;
	}
}


/* custom global section */
	img,
	svg,
	button {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	img {
		pointer-events: none;
	}

		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}
		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none;  /* IE and Edge */
			scrollbar-width: none;  /* Firefox */
		}
/* ? */



/* @radix-accordion */
	.AccordionHeader[data-state='open'] > button[data-radix-collection-item] svg {
		@apply rotate-180;
	}
	.AccordionHeader button[data-radix-collection-item] svg {
		@apply transition-all;
	}

	.AccordionHeader .AccordionDatesBox {
		@apply xl:rounded-xl transition-all;
	}
	.AccordionHeader[data-state='open'] .AccordionDatesBox {
		@apply max-xl:rounded-b-xl;
	}
	.AccordionHeader[data-state='closed'] .AccordionDatesBox {
		@apply max-xl:rounded-xl;
	}


	.AccordionContent {
		overflow: hidden;
		@apply border-t-2 ;
	}
	.AccordionContent[data-state='open'] {
		animation: slideDown 300ms ease-out;
		@apply border-backgroundDashboard;
	}
	.AccordionContent[data-state='closed'] {
		animation: slideUp 300ms ease-out;
		@apply border-transparent;
	}


	.custom-fade-in {
		animation: fadeIn .3s ease;
	}



	/* custom animatinos */
	/* radix accordions */
	@keyframes slideDown {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes slideUp {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	/* show/hide transitions */
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}


/* page detail's "dangerouslySetInnerHTML Styles */
.page-detail-contents h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
	margin-top: 1em;
	margin-bottom: .25em;
}
.page-detail-contents h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
	margin-top: 1em;
	margin-bottom: .25em;
}

.page-detail-contents img {
	@apply h-full w-full rounded-lg object-cover mx-auto max-w-[800px] mt-4 mb-8 md:mt-8 md:mb-16;
}
